body {
    background-color: rgb(180, 194, 180, 0.9);
    background-color: rgb(180, 194, 180, 0.8);
}

.ttl {
    background-color: rgb(61, 75, 83);
    padding: 10px 0px;
    color: whitesmoke;
    letter-spacing: 5px;
}
.big-vertical-green-box {
    height: 80vh;
    background-color: rgb(50, 51, 50);
    border-radius: 30px;
}
.small-vertical-green-box{
    height: 100px;
    width: 100px;
    background-color: rgb(50, 51, 50);
    border-radius: 30px;
    padding: 10vh;
    margin: 20px;
}
.half-vertical-green-box{
    height: 40vh;
    width: 50px;
    background-color: rgb(50, 51, 50);
    border-radius: 30px;

}
.txt {
    margin: 0px 220px;
    padding: 10px 15px;
    border-radius: 10px;
    width: 600px;
    background-color: rgb(50, 51, 50);
    color: wheat;
    font-family: verdana;
}
